.carouselPage {
    background-color: #FFECD1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    text-align: center;
}

.resName{
    font-size: 50px;
    font-weight: bold;
    color: #228E9F;
}

.carouselContainer {
    overflow: hidden; /* Hide any overflow caused by the buttons */
}

.carousel {
    width: 70vw; /* Adjust the width as needed */
    border-radius: 10px;
}

.carouselPic {
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    object-fit: cover;
}

/* Set a fixed size for the Carousel.Item */
.carousel-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Custom styles for carousel arrow buttons */
.carousel-control-prev,
.carousel-control-next {
    /* Add your custom styles here */
    background-color: #228E9F; /* Example background color */
    color: #FFECD1; 
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    opacity: 10;

    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    width: 9vw;
    height: 7vh;
}

/* Hover styles for carousel arrow buttons */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    /* Add your hover styles here */
    background-color: #228E9E; /* Example hover background color */
}

/* Active styles for carousel arrow buttons */
.carousel-control-prev:focus,
.carousel-control-next:focus,
.carousel-control-prev:active,
.carousel-control-next:active {
    /* Add your active styles here */
    outline: none; /* Example: remove outline on focus/active */
}